v4-client-cpp/ @asnefedovv @dydxprotocol/eng
v4-client-py/ @kaloureyes3 @dydxprotocol/eng
v4-client-py-v2/ @dydxprotocol/engineering @dydxprotocol/nethermind
v4-client-rs/ @dydxprotocol/engineering @dydxprotocol/nethermind

* @dydxprotocol/eng
