# Order is important. The last matching pattern has the most precedence.

* @dydxprotocol/engineering

/v4-client-py-deprecated/    @dydxprotocol/engineering @dydxprotocol/foundation @dydxprotocol/nethermind
/v4-client-py-v2/            @dydxprotocol/engineering @dydxprotocol/foundation @dydxprotocol/nethermind
/v4-client-rs/               @dydxprotocol/engineering @dydxprotocol/foundation @dydxprotocol/nethermind
