[submodule "v4-client-cpp"]
	path = v4-client-cpp
	url = https://github.com/asnefedovv/dydx-v4-client-cpp
[submodule "dydxjs/packages/dydxjs/proto/noble-cctp-src"]
	path = dydxjs/packages/dydxjs/proto/noble-cctp-src
	url = git@github.com:circlefin/noble-cctp.git
[submodule "dydxjs/packages/dydxjs/proto/slinky-src"]
	path = dydxjs/packages/dydxjs/proto/slinky-src
	url = git@github.com:skip-mev/slinky.git
