{
  "branches": ["main", "test-release"],
  "tagFormat": "v4-client-js@${version}-sr",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/npm"
  ]
}
