Cython>=0.29.0
aiohttp>=3.8.1
bech32>=1.2.0
bip_utils>=1.6.0
brownie>=0.5.0
cytoolz>=0.12.1
dateparser>=1.0.0
v4-proto>=0.2.1
ecdsa>=0.16.0
eth_keys>=0.4.0
eth-account>=0.9.0
grpcio>=1.34.0
grpcio-tools>=1.34.0
mpmath>=1.0.0
pytest>=6.2.1
requests>=2.22.0,<3.0.0
six>=1.14
sympy>=1.6.0
web3>=6.5.0
websocket_client>=1.5.1
