name: "[v4-client-js] Publish Image to NPM"
on: # yamllint disable-line rule:truthy
  push:
    paths:
      - 'v4-client-js/**'
    branches:
      - main

# Ensure only a single instance of this workflow is running.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    defaults:
      run:
        working-directory: ./v4-client-js

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: 'v4-client-js/.nvmrc'
          registry-url: https://registry.npmjs.org/
          cache: npm
          cache-dependency-path: '**/package-lock.json'

      - name: Install dependencies
        run: npm ci

      - name: Publish if needed
        run: ./scripts/publish-if-not-exists.sh
